<%- include("../partials/completeHeader") %>
<h1 class="text-center display-4">
		Inventory
</h1>
<div class="container border-left-0">
	<p>
		Below is our inventory document <span><em style="color:gray">(Removed for public viewing)</em></span>. It details all of the items that we have in our various storage areas.
		<br>
		If you need to edit the inventory document to take inventory, please <a href="#" target="_blank">click here</a>.
	</p>
	
	<iframe src=""></iframe>

</div>


<%- include("../partials/footer") %>