<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block pb-1 sidebar collapse shadow-none">
	<div class="sidebar-sticky pt-0 bg-transparent">
		<div id="accordion" class="bg-transparent accordion">
			<!-- <div class="card border-0 d-none d-md-inline">
				<div class="card-header bg-secondary">
					<h5 class="m-0">
						<a class="btn text-light collapsed pl-0 w-100 text-left text-decoration-none" >
							<!-- Blank -->
						<!-- </a>
					</h5>
				</div>
			</div> -->
<!-- End --> 
			<div class="card border-0">
				<div class="card-header bg-secondary">
					<h5 class="m-0">
						<a class="btn text-light collapsed pl-0 w-100 text-left text-decoration-none" href="#">
							<i class="far fa-user mr-2"></i><strong>User's Profile</strong>
						</a>
					</h5>
				</div>
			</div>
<!-- End -->
			<div class="card border-0">
				<div class="card-header bg-secondary">
					<h5 class="m-0">
						<a class="btn text-light collapsed pl-0 w-100 text-left text-decoration-none" href="/">
							Dashboard
						</a>
					</h5>
				</div>
			</div>
<!-- End  -->
			<div class="card border-0">
				<div class="card-header bg-secondary">
					<h5 class="m-0">
						<a class="btn text-light collapsed pl-0 w-100 text-left text-decoration-none" href="/shift/">
							Schedule
						</a>
					</h5>
				</div>
			</div>
<!-- End -->
			<div class="card border-0">
				<div class="card-header bg-secondary" id="headingInfo">
					<h5 class="m-0 d-inline">
						<button class="btn text-light chevron collapsed px-0 mr-1 w-100 text-left text-decoration-none" data-toggle="collapse" data-target="#collapseInfo" aria-expanded="false" aria-controls="collapseInfo">
							Member Info
						</button>
					 </h5>
				</div>
				<div id="collapseInfo" class="collapse m-0 border-0" aria-labelledby="headingOne" data-parent="#accordion">
					<div class="card-body p-0 border-0" id="childInfo">
						<div class="card-header bg-secondary border-0" >
							<p class="m-0 d-inline">
								<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/user/contact_list">
									Contact List
								</a>
							</p>
						</div>
						<div class="card-header bg-secondary border-0">
							<p class="m-0 d-inline">
								<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/user/eboard">
									Executive Board
								</a>
							</p>
						</div>
						<div class="card-header bg-secondary border-0">
							<p class="m-0 d-inline">
								<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/user/alumni">
									Alumni
								</a>
							</p>
						</div>
						<div class="card-header bg-secondary border-0">
							<p class="m-0 d-inline">
								<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/user/top30">
									Top 30
								</a>
							</p>
						</div>
						<div class="card-header bg-secondary border-0">
							<p class="m-0 d-inline">
								<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/document/sops_bylaws">
									SOPs and Bylaws
								</a>
							</p>
						</div>
						<div class="card-header bg-secondary border-0">
							<p class="m-0 d-inline">
								<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/document/member_manual">
									Member Manual
								</a>
							</p>
						</div>
						<div class="card-header bg-secondary border-0">
							<p class="m-0 d-inline">
								<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/user/everyMember">
									Every Member
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
<!-- End -->
			<div class="card border-0">
				<div class="card-header bg-secondary" id="headingNMI">
					<h5 class="m-0 d-inline">
						<button class="btn text-light chevron collapsed px-0 mr-1 w-100 text-left text-decoration-none" data-toggle="collapse" data-target="#collapseNMI" aria-expanded="false" aria-controls="collapseNMI">
							New Member Help
						</button>
					 </h5>
				</div>
				<div id="collapseNMI" class="collapse m-0 border-0" aria-labelledby="headingNMI" data-parent="#accordion">
					<div class="card-body p-0 border-0" id="childNMI">
						<div class="card-header bg-secondary border-0">
							<p class="m-0 d-inline">
								<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/guide/new_member_cheat_sheet">
									New Member Cheat Sheet
								</a>
							</p>
						</div>
						<div class="card-header bg-secondary border-0">
							<p class="m-0 d-inline">
								<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/guide/becoming_active_member">
									Becoming an Active Member
								</a>
							</p>
						</div>
						<div class="card-header bg-secondary border-0">
							<p class="m-0 d-inline">
								<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/document/onboarding">
									Onboarding Packet
								</a>
							</p>
						</div>
						<div class="card-header bg-secondary border-0">
							<p class="m-0 d-inline">
								<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/guide/new_member_faqs">
									New Member FAQs
								</a>
							</p>
						</div>
						<div class="card-header bg-secondary border-0">
							<p class="m-0 d-inline">
								<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/document/member_manual">
									Member Manual
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
<!-- End -->
			<div class="card border-0">
				<div class="card-header bg-secondary" id="headingMT">
					<h5 class="m-0 d-inline">
						<button class="btn text-light chevron collapsed px-0 mr-1 w-100 text-left text-decoration-none" data-toggle="collapse" data-target="#collapseMT" aria-expanded="false" aria-controls="collapseMT">
							Member Training
						</button>
					 </h5>
				</div>
				<div id="collapseMT" class="collapse m-0 border-0" aria-labelledby="headingMT" data-parent="#accordion">
					<div class="card-body p-0 border-0" id="childMT">
						<div class="card-header bg-secondary border-0">
							<p class="m-0 d-inline">
								<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/guide/active_member">
									Active Member
								</a>
							</p>
						</div>
						<div class="card-header bg-secondary border-0">
							<p class="m-0 d-inline">
								<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/guide/crew_chief">
									Crew Chief
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
<!-- End -->
			<div class="card border-0">
				<div class="card-header bg-secondary" id="headingEdu">
					<h5 class="m-0 d-inline">
						<button class="btn text-light chevron collapsed px-0 mr-1 w-100 text-left text-decoration-none" data-toggle="collapse" data-target="#collapseEdu" aria-expanded="false" aria-controls="collapseEdu">
							Education
						</button>
					 </h5>
				</div>
				<div id="collapseEdu" class="collapse m-0 border-0" aria-labelledby="headingEdu" data-parent="#accordion">
					<div class="card-body p-0 border-0" id="childEdu">
						<div class="card-header bg-secondary border-0">
							<div class="card border-0">
								<div class="card-header bg-secondary pl-3" id="headingEMT">
									<h5 class="m-0 d-inline">
										<button class="btn text-light chevron collapsed px-0 mr-0 w-100 text-left text-decoration-none" data-toggle="collapse" data-target="#collapseEMT" aria-expanded="false" aria-controls="collapseEMT">
											Becoming an EMT
										</button>
									 </h5>
								</div>
								<div id="collapseEMT" class="collapse m-0 border-0" aria-labelledby="headingEMT" data-parent="#childEdu">
									<div class="card-body p-0 border-0" id="childEMT">
										<div class="card-header bg-secondary border-0">
											<p class="m-0 d-inline">
												<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/guide/becoming_EMT">
													Step-By-Step Guide
												</a>
											</p>
										</div>
										<div class="card-header bg-secondary border-0">
											<p class="m-0 d-inline">
												<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/guide/registering_for_course">
													Registering for EMT Courses
												</a>
											</p>
										</div>
										<div class="card-header bg-secondary border-0">
											<p class="m-0 d-inline">
												<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/guide/training_fund">
													Filling Out Training Fund
												</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-header bg-secondary border-0">
							<p class="m-0 d-inline">
								<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/guide/ems_skills">
									EMS Skills
								</a>
							</p>
						</div>
						<div class="card-header bg-secondary border-0">
							<p class="m-0 d-inline">
								<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/guide/ride-along">
									GTAS Ride-Along
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
<!-- End -->
			<hr class="bg-light p-0 m-0">
<!-- ///////////////////////////////////////////////////////////////////////////////////// Officer Controls Start ////////////////////////////////////////////////////////////////////////////////////// -->
			<div class="card border-0">
				<div class="card-header bg-secondary" id="headingOC">
					<h5 class="m-0 d-inline">
						<button class="btn text-light chevron collapsed px-0 mr-1 w-100 text-left text-decoration-none" data-toggle="collapse" data-target="#collapseOC" aria-expanded="false" aria-controls="collapseOC">
							Officer Quick Links
						</button>
					 </h5>
				</div>
				<div id="collapseOC" class="collapse m-0 border-0 text-decoration-none" aria-labelledby="headingOC" data-parent="#accordion">
					<div class="card-body p-0 border-0" id="childOC">
						<div class="card-header bg-secondary border-0">
							<p class="m-0 d-inline">
								<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/officerDashboard">
									Officer Dashboard
								</a>
							</p>
						</div>
						<div class="card-header bg-secondary border-0">
							<p class="m-0 d-inline">
								<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/user">
									Roster
								</a>
							</p>
						</div>
						<div class="card-header bg-secondary border-0">
							<p class="m-0 d-inline">
								<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/user/hours">
									Hours
								</a>
							</p>
						</div>
						<div class="card-header bg-secondary border-0">
							<p class="m-0 d-inline">
								<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/user/add_new_member">
									Add New Member
								</a>
							</p>
						</div>
						<div class="card-header bg-secondary border-0">
							<p class="m-0 d-inline">
								<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/shift/new">
									Add New Shift
								</a>
							</p>
						</div>
						<div class="card-header bg-secondary border-0">
							<p class="m-0 d-inline">
								<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/admin/inventory">
									Inventory
								</a>
							</p>
						</div>
						<!-- <div class="card-header bg-secondary border-0">
							<div class="card border-0">
								<div class="card-header bg-secondary pl-3" id="headingTF">
									<h5 class="m-0 d-inline">
										<button class="btn text-light chevron collapsed p-0 m-0 w-100 text-left text-decoration-none" data-toggle="collapse" data-target="#collapseTF" aria-expanded="false" aria-controls="collapseTF">
											Training
										</button>
									 </h5>
								</div> -->
								<!-- <div id="collapseTF" class="collapse m-0 border-0" aria-labelledby="headingTF" data-parent="#childOC">
									<div class="card-body p-0 border-0" id="childTF">
										<div class="card-header bg-secondary border-0">
											<p class="m-0 d-inline">
												<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/user/<%//currentUser._id%>/training_status"> -->
													<!-- Member Training Statuses
												</a>
											</p>
										</div>
										<div class="card-header bg-secondary border-0">
											<p class="m-0 d-inline">
												<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/document/amt">
													Active Member Training
												</a>
											</p>
										</div>
										<div class="card-header bg-secondary border-0">
											<p class="m-0 d-inline">
												<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/document/amc">
													Active Member Clearing
												</a>
											</p>
										</div>
										<div class="card-header bg-secondary border-0">
											<p class="m-0 d-inline">
												<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/document/cct">
													Crew Chief Training
												</a>
											</p>
										</div>
										<div class="card-header bg-secondary border-0">
											<p class="m-0 d-inline">
												<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/document/ccc">
													Crew Chief Clearing
												</a>
											</p>
										</div>
										<div class="card-header bg-secondary border-0">
											<p class="m-0 d-inline">
												<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="/document/presentations">
													Presentations
												</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div> -->
						<div class="card-header bg-secondary border-0">
							<p class="m-0 d-inline">
								<a class="btn text-light pl-3 py-0 w-100 text-left text-decoration-none" href="#">
									Google Drive Officer Files
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
<!-- End -->
		</div>
	</div>
</nav>


