<%- include("./partials/header") %>

<h1 class="display-4">
	Forgot Password
</h1>
<%- include("./partials/alert") %>
<div class="container">
	<h2 class="text-center">
		Forgot your password? Happens to the best of us.
	</h2>
	<p>
		Please use the form below to reset your password. Passwords are reset through email to ensure that the person requesting the password change is the owner of the email we have on record. 
		<br> <br>
		If your Stockton email has changed or you have been locked out of your Stockton email acount for whatever reason, <a href="mailto:stocktonems-club@go.stockton.edu?subject=SEMS Member Portal: Member Needs Help with Stockton Email Account (No Access)">please email us</a>, so we can help you further.
	</p>
	<form action="/forgotPassword" method="POST">
		<div class="form-group">
			<label for="exampleInputEmail1">Stockton Email Address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required pattern="[a-z0-9._%+-]+@go.stockton.edu">
			<small id="emailHelp" class="form-text text-muted">Please enter your Stockton email address here and you will receive an email with a link to help you reset your password. </small>
		</div>
		<input type="submit" class="btn btn-primary">
	</form>
</div>

<%- include("./partials/footer") %>