<%- include("./partials/header") %>
<div class="text-center row justify-content-center">
	<div class="col-md-6">
		<h1 class="display-1">
			404 Error!
		</h1>
		<p>
			The page you're looking for does not exist or an error occurred.
		</p>
		<p>
			Try to reload the page or go back to the previous page. If you believe this page should exist, please email the <a href="mailto:stocktonems-club@go.stockton.edu">executive board</a>
		</p>
	</div>
</div>	

<img src="/img/404.gif" class="mx-auto d-block">

<%- include("./partials/footer") %>
