<%- include("./partials/header") %>

<h1 class="display-4">
	Password Reset
</h1>
<div class="container">
	
	<p>
		Please use the form below to reset the password for . 
	</p>
	<form action="#" method="POST">
		<div class="col pl-0">
			<label for="email" aria-describedby="emailHelp">Email Address</label>
			<input type="text" class="form-control-plaintext font-italic" id="email" value="" name="email" readonly>
		</div>
		<div class="col pl-0 mt-2">
			<label for="password" aria-describedby="pwdHelp">New Password</label>
			<small id="pwdHelp" class="form-text text-muted">Must be at least 8 characters and include an uppercase letter, lowercase letter, number, and <a href="https://www.computerhope.com/jargon/s/specchar.htm">special character</a> ( !"#$%&amp;'()*+,-./:;&lt;&equals;&gt;?@[\]^_`{|}~).</small>
			<input type="password" class="form-control" id="passwordReset" name="password" placeholder="New Password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
		</div>
		<div class="col pl-0 mt-2">
			<label for="confirmPassword" aria-describedby="pwdHelp2">Confirm New Password</label>
			<small id="pwdHelp2" class="form-text text-muted">Must match your new password above</small>
			<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm New Password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
		</div>
		<input type="submit" class="btn btn-primary mt-2" value="Reset Password">
	</form>
	
	<p>
		Your password link is expired or invalid, or you've gotten here incorrectly. You only have one hour to reset your password from the time you input your email into the forgot password page. <a href="/forgotPassword">Click here</a> to be taken to the forgot password page.
	</p>
	
</div>

<%- include("./partials/footer") %><%