<%- include("../partials/completeHeader") %>
<h4 class="display-4">
	Every Member
</h4>

<div class="container">
	<p>
		The following is all of SEMS's members (that we are aware of). Hours are not available for semesters before Fall 2012, so founding members' hours are not accurate.
	</p>
	<div class="row justify-content-center">
    	<div class="col-auto">
			<table class="table table-responsive" id="everyMemberTable">
				<thead class="bg-primary text-white">
					<tr>
						<th scope="col-sm-3">Last Name</th>
						<th scope="col-sm-3">First Name</th>
						<th scope="col-sm-3">First Semester</th>
						<th scope="col-sm-3">Held Positions</th>
						<th scope="col-sm-3">Total Hours</th>
							<th scope="col-sm-3">Edit</th>
					</tr>
				</thead>
				<tbody>
					
					<tr>
						<td scope="row"></td>
						<td scope="row"></td>
						<td scope="row"></td>
						<td scope="row text-break">
							
						</td>
						<td scope="row"></td>
							<td><a href="#">Edit User Infomation</a></td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>
