<%- include("../partials/completeHeader") %>
<h1 class="text-center display-4">
		Member Hours
</h1>

<div class="container">
	

	<p class="text-center">
		The following are the hours for each current member of SEMS. For more detail, click a member's name to go to their profile and scroll to the bottom of the profile to see all of their hours.
	</p>
	<table class="table big-table dataT d-block" id="rosterTable">
		<thead class="bg-primary text-white">
			<tr>
				<th scope="col-auto">Title</th>
				<th scope="col-auto">Last Name</th>
				<th scope="col-auto">First Name</th>
				<th scope="col-auto">Status</th>
				<th scope="col-auto">Current Month</th>
				<th scope="col-auto">Current Semester</th>
			</tr>
		</thead>
		<tbody>
			
			<tr>
				<td scope="row"></td>
				<td scope="row"><a href="#"></a></td>
				<td scope="row"><a href="#"></a></td>
				<td scope="row"></td>
				<td scope="row" class="text-center"></td>
				<td scope="row" class="text-center"></td>
			</tr>
			
		</tbody>
	</table>
</div>
<%- include("../partials/footer") %>
