<%- include("../partials/completeHeader") %>
<h1 class="text-center display-4">
		Roster
</h1>
<div class="px-5">
	<div class="mx-2">
		<p>
			The following is the complete list of our current members. Current members include those that are training, active, and on probation. If members are terminated, resigned, or graduated, they are not listed here. They will be included in the <a href="/user/everyMember">complete list of all members</a>
		</p>
		<p>
			This view is meant to be for a quick overview of every member. If you are looking for the specifics of each member, it's recommended to go to their individual profiles as this information is easier to follow. By clicking on the member's first or last name, you will be taken to his or her profile.
		</p>
		<p>
			If you are looking for other information, please refer to the <a href="./officerDashboard">officer dashboard</a> for further direction.
		</p>
		<table class="table big-table d-block" id="rosterTable">
			<thead class="bg-primary text-white">
				<tr>
					<th scope="col-auto">Last Name</th>
					<th scope="col-auto">First Name</th>
					<th scope="col-auto">Title</th>
					<th scope="col-auto">Status</th>
					<th scope="col-auto">Sex</th>
					<th scope="col-auto">Email Address</th>
					<th scope="col-auto">Cell Phone Number</th>
					<th scope="col-auto">Z Number</th>
					<th scope="col-auto">Entry Semester</th>
					<th scope="col-auto">Current Class</th>
					<th scope="col-auto">Street Address</th>
					<th scope="col-auto">City</th>
					<th scope="col-auto">State</th>
					<th scope="col-auto">Zip Code</th>
					<th scope="col-auto">Driver's License ID</th>
					<th scope="col-auto">DL State</th>
					<th scope="col-auto">DL Exp Date</th>
					<th scope="col-auto">CPR Provider</th>
					<th scope="col-auto">CPR Exp Date</th>
					<th scope="col-auto">NJ EMT ID</th>
					<th scope="col-auto">NREMT ID</th>
					<th scope="col-auto">EMT Exp Date</th>
					<th scope="col-auto">Emergency Contact</th>
					<th scope="col-auto">EC Phone Number</th>
					<th scope="col-auto">EC Relationship</th>
				</tr>
			</thead>
			<tbody>
				
				<tr>
					<td scope="row"><a href="#"></a></td>
					<td scope="row"><a href="#"></a></td>
					<td scope="row"></td>	
					<td scope="row"></td>
					<td scope="row"></td>
					<td scope="row"></td>
					<td scope="row"></td>
					<td scope="row"></td>
					<td scope="row"></td>
					<td scope="row"></td>
					<td scope="row"></td>
					<td scope="row"></td>
					<td scope="row"></td>
					<td scope="row"></td>
					<td scope="row"></td>
					<td scope="row"></td>
					<td scope="row"></td>
					<td scope="row"></td>
					<td scope="row"></td>
					<td scope="row"></td>
					<td scope="row"></td>
					<td scope="row"></td>
					<td scope="row"></td>
					<td scope="row"></td>
					<td scope="row"></td>
				</tr>
				
			</tbody>
		</table>
	</div>
</div>	
<%- include("../partials/footer") %>
