<%- include("../partials/completeHeader") %>
<h1 class="display-4">
	's Profile
</h1>

<div class="container">
	<div class="d-flex align-middle justify-content-between border-bottom">
			<div class="mr-auto p-2" >
				<a href="/user"><i class="fas fa-long-arrow-alt-left"></i> Go back to the roster</a>
			</div>
			<div class="mr-auto p-2" >
				<a href="/user/contact_list"><i class="fas fa-long-arrow-alt-left"></i> Go back to the contact list</a>
			</div>
		
			<div class="ml-auto p-2">
				<p class="text-right justify-content-end d-flex">This user cannot be edited</p>
			</div>
		
	</div>
	<p>
		<strong>Name: </strong> <span class="text-primary">
		
		</span>
	</p>
	
	<p>
		<strong>Title: </strong> <span class="text-primary"></span>
	</p>
	
	<p>
		<strong>Membership Status: </strong>
		
	</p>
	
	<p>
		<strong>EMT Certified: </strong> 
		
	</p>
	
	<p>
		<strong>Class Status: </strong> <span class="text-primary"></span>
	</p> 
	
	<p>
		<strong>Email: </strong> <span class="text-primary"><a href="mailto:"></a></span>
	</p>
	
	<p>
		<strong>Cell Phone Number: </strong> <span class="text-primary"></span>
	</p>
	
	<p>
		<strong>Z Number: </strong> <span class="text-primary"></span>
	</p>
	
	<div>
		<p>
			<strong>Address:</strong>
		</p>
		<ul class="list-unstyled pl-3">
			<li><span class="text-primary"></span></li>
				<li><span class="text-primary"></span></li>
		</ul>
	</div>

	<div>
		<p>
			<strong>Driver's License: </strong> 
			
		</p>
		
		<ul class="list-unstyled pl-3">
			<li>License ID: <span class="text-primary"></span></li>
			<li>License State: <span class="text-primary"></span></li>
			
				
		
		</ul>
	</div>

	<div>
		<p>
			<strong>CPR Certification: </strong> 
			
		</p>
		
		<ul class="list-unstyled pl-3">
			<li>CPR Provider: <span class="text-primary"></span></li>
			
			<li>CPR Certification Expiration Date: <span class="text-danger"></span></li>
			
			<li>CPR Certification Expiration Date: <span class="text-primary"></span></li>
			
		</ul>
		
	</div>
	
	<div>
		<p>
			<strong>EMT Certification: </strong> 
			
			<span class="text-primary">Not on File</span>
			
		</p>
		
		<ul class="list-unstyled pl-3">
			<li>NREMT ID: <span class="text-primary"></span></li>
			<li>NJ EMS ID: <span class="text-primary"></span></li>
			
		</ul>
		
	</div>

	<div>
		<p>
			<strong>Emergency Contact: </strong> 
		</p>
		<ul class="list-unstyled pl-3">
			<li>Contact Name: <span class="text-primary"></span></li>
			<li>Contact Phone: <span class="text-primary"></span></li>
			<li>Contact Relationship: <span class="text-primary"></span></li>
		</ul>
	</div>

	<div>
		<p>
			<strong>Uniform Sizes: </strong> 
		</p>
		<ul class="list-unstyled pl-3">
			<li>Shirt Size: <span class="text-primary"></span></li>
			<li>Jacket Size: <span class="text-primary"></span></li>
		</ul>
	</div>
	
	<div>
		<p>
			<strong>Active Member Training Status: 
			
			</strong> 
		</p>
		<ul class="list-unstyled pl-3">
			<li>Active Member Training 1 Date: 
					
						<span>
							<form action="#" method="POST" class="form-inline d-inline">
								<input class="form-control form-control-sm" id="amtd1" name="amtd1" type="date" required>
								<button class="btn btn-sm btn-primary">
									Update Date
								</button>
							</form>
						</span>
						<span>
							<form action="#" method="POST" class="form-inline d-inline">
								<input class="form-control form-control-sm" id="amtd1" name="amtd1" type="date" required value="">
								<button class="btn btn-sm btn-primary">
									Update Date
								</button>
							</form>
						</span>
			</li>
			<li>Active Member Training 2 Date: 
					<span class="text-primary"></span>
					<span class="text-primary"></span>
						<span>
							<form action="#" method="POST" class="form-inline d-inline">
								<input class="form-control form-control-sm" id="amtd2" name="amtd2" type="date" required>
								<button class="btn btn-sm btn-primary">
									Update Date
								</button>
							</form>
						</span>
						<span>
							<form action="#" method="POST" class="form-inline d-inline">
								<input class="form-control form-control-sm" id="amtd2" name="amtd2" type="date" required value="">
								<button class="btn btn-sm btn-primary">
									Update Date
								</button>
							</form>
						</span>
			</li>
			<li>Active Member Clearing Date: 
					<span class="text-primary"></span>
					<span class="text-primary"></span>
						<span>
							<form action="#" method="POST" class="form-inline d-inline">
								<input class="form-control form-control-sm" id="amcd" name="amcd" type="date" required>
								<button class="btn btn-sm btn-primary">
									Update Date
								</button>
							</form>
						</span>
						<span>
							<form action="#" method="POST" class="form-inline d-inline">
								<input class="form-control form-control-sm" id="amcd" name="amcd" type="date" required value="">
								<button class="btn btn-sm btn-primary">
									Update Date
								</button>
							</form>
						</span>
			</li>
		</ul>
	</div>
	
	<div>
		<p>
			<strong>Crew Chief Training Status: 
				<span class="text-success"> Cleared</span>
				<span class="text-primary"> Training</span>
			</strong> 
		</p>
		<ul class="list-unstyled pl-3">
			<li>Crew Chief Training Date: 
					<span class="text-primary"></span>
					<span class="text-primary"></span>
						<span>
							<form action="#" method="POST" class="form-inline d-inline">
								<input class="form-control form-control-sm" id="cctd" name="cctd" type="date" required>
								<button class="btn btn-sm btn-primary">
									Update Date
								</button>
							</form>
						</span>
						<span>
							<form action="#" method="POST" class="form-inline d-inline">
								<input class="form-control form-control-sm" id="cctd" name="cctd" type="date" required value="">
								<button class="btn btn-sm btn-primary">
									Update Date
								</button>
							</form>
						</span>
			</li>
			<li>Crew Chief Clearing Date: 
				
					<span class="text-primary"></span>
						<span class="text-primary"></span>	
						<span>
							<form action="#" method="POST" class="form-inline d-inline">
								<input class="form-control form-control-sm" id="cccd" name="cccd" type="date" required>
								<button class="btn btn-sm btn-primary">
									Update Date
								</button>
							</form>
						</span>
						<span>
							<form action="#" method="POST" class="form-inline d-inline">
								<input class="form-control form-control-sm" id="cccd" name="cccd" type="date" required value="">
								<button class="btn btn-sm btn-primary">
									Update Date
								</button>
							</form>
						</span>
					
			</li>
		</ul>
	</div>
	
	<div>
		<p>
			<strong>Hours:</strong>
		</p>
		<div class="row">
			<div class="col-3">
				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					<a class="nav-link active" id="pills-currentMonth-tab" data-toggle="pill" href="#pills-currentMonth" role="tab" aria-controls="pills-currentMonth" aria-selected="true">Current Month</a>
					<a class="nav-link" id="pills-currentSemester-tab" data-toggle="pill" href="#pills-currentSemester" role="tab" aria-controls="pills-currentSemester" aria-selected="false">Current Semester</a>
					<a class="nav-link" id="pills-monthlyTotals-tab" data-toggle="pill" href="#pills-monthlyTotals" role="tab" aria-controls="pills-monthlyTotals" aria-selected="false">Totals by Month</a>
					<a class="nav-link" id="pills-semesterTotals-tab" data-toggle="pill" href="#pills-semesterTotals" role="tab" aria-controls="pills-semesterTotals" aria-selected="false">Totals by Semester</a>
					<a class="nav-link" id="pills-totalHours-tab" data-toggle="pill" href="#pills-totalHours" role="tab" aria-controls="pills-totalHours" aria-selected="false">Total Hours</a>
				</div>
			</div>
			<div class="col-9">
				<div class="tab-content" id="v-pills-tabContent">
					<div class="tab-pane fade show active text-center" id="pills-currentMonth" role="tabpanel" aria-labelledby="pills-currentMonth-tab">&nbsp;hours!</div>
					<div class="tab-pane fade text-center" id="pills-currentSemester" role="tabpanel" aria-labelledby="pills-currentSemester-tab">&nbsp; hours!</div>
					<div class="tab-pane fade" id="pills-monthlyTotals" role="tabpanel" aria-labelledby="pills-monthlyTotals-tab">
						<table class="table table-sm table-hover">
							<thead class="thead-dark">
								<tr>
									<th scope="col">Month</th>
									<th scope="col">Hours</th>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="pills-semesterTotals" role="tabpanel" aria-labelledby="pills-semesterTotals-tab">
						<table class="table table-sm table-hover">
							<thead class="thead-dark">
								<tr>
									<th scope="col">Month</th>
									<th scope="col">Hours</th>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade text-center" id="pills-totalHours" role="tabpanel" aria-labelledby="pills-totalHours-tab">
						<span class="text-success display-2"> hours!</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Button trigger first modal -->
<hr>
<div class="text-center">
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteMemberModal">
	  Delete User
	</button>
</div>


<!-- First Modal -->
<div class="modal fade" id="deleteMemberModal" tabindex="-1" role="dialog" aria-labelledby="deleteMemberModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content bg-danger text-white">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteMemberModalLabel">Delete User:</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>
					Deleting a user should <strong><em>ONLY</em></strong> be done because the user is <u>not actually</u> a member and was added <em>accidently</em> or <em>fraudulently</em>. 
					<br> <br>
					If the member has graduated or resigned or has been terminated, regardless of the amount of time he or she was a member, please click <a href="#">edit user infomation</a> and update their status at the bottom of the edit form to reflect their new status <u>instead</u> of deleting them. 
					<br> <br>
					To reiterate, anyone that is or was a member for any amount of time should have their status changed to reflect how they left the organization. They should <em>NOT</em> be deleted even if they resign after one day or are terminated for severe offenses. This is to ensure that all member data is saved. Deleting a user is a permanent action that cannot be undone. Once more, it should <u>ONLY</u> be done on users that are not actually members.
					<br> <br>
					If you delete a user without proper authorization, you will be subject to severe disciplinary action up to and including termination.
					<br> <br>
					If you have the proper authorization to delete this user, <u>AND</u> this user is <em><strong><u>not actually</u></strong></em> a member, you may continue. 
					<br> <br>
					Before you will be permitted to delete the member, you must edit their profile, change their status to "delete", and then return to this screen. Only after their status is "delete" will you be able to delete the member. 
				</p>
			</div>
			<div class="modal-footer text-center">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-warning" data-dismiss="modal" data-toggle="modal" data-target="#deleteMemberModal2" data-toggle="tooltip" data-placement="top" title="User status must be &ldquo;Disable&rdquo;">Continue to Delete</button>
			</div>
		</div>
	</div>
</div>

<!-- Second Modal -->
<div class="modal fade" id="deleteMemberModal2" tabindex="-1" role="dialog" aria-labelledby="deleteMemberModalLabel2" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content text-red">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteMemberModalLabel2">Permanently Delete User:</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>
					This is the final screen before permanently deleting this user. Clicking "Delete User" will remove this user's account and all data. 
					<br> <br>
					As a final reminder, this action should only be done if the user you are trying to delete is not actually a member of Stockton EMS. If this user is a member of Stockton EMS, please click <a href="#">edit user infomation</a> and update their status instead of deleting them. Deleting is not meant for actual members - only fraudulent users. 
					<br> <br>
					To delete this user please click "Delete User". Otherwise, you can click away or click "Cancel" to not delete this user. 
				</p>
			</div>
			<div class="modal-footer text-center">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<form class="delete-form" action="#" method="POST">
					<input type="submit" class="btn btn-danger" value="Delete User">
				</form>
			</div>
		</div>
	</div>
</div>


<%- include("../partials/footer") %>