<%- include("../partials/completeHeader") %>

<h1 class="text-center display-4">
	Becoming an Active Member
</h1>

<div class="container">
	<h2 class="text-center">
		Active Member Training
	</h2>

	<p>
		Training is the process by which a new member is familiarized with the procedures and policies of the organization. This will happen on the job as a crew is being run. The new member will be trained by either an FTO or an officer. 
	</p>

	<p>
		New members must be trained at one event standby crew and one duty crew at a minimum. If someone is unable to attend any duty crews for whatever reason, he or she will be permitted to be trained at two event standbys.
	</p>

	<p>
		New members will be allowed to sign up for crews once their background checks have been returned negative for any disqualifying results. The Lieutenant will share the schedule with the new members, and they should sign up for one event and one duty crew. The training sergeant will make sure that an eligible trainer is present for the crew to train the members.
	</p>

	<p>
		After the new member has completed the two crews, the Training Sergeant will evaluate the member based on his or her performance during the crews based on what the trainers documented. If the training sergeant believes that the new member isn't ready to be cleared, the new member will have to attend trainings until the training sergeant believes that they have acquired adequate skills to function on a crew. At that point, the new member will schedule a time to be cleared by the training sergeant or another officer. Once cleared, he or she can sign up for any crew and will no longer require a trainer present.
	</p>

	<hr>

	<h2 class="text-center">
		Active Member Clearing
	</h2>

	<p>
		The process of clearing new members to be active members is to make sure that every new member knows how Stockton EMS functions and how to function within Stockton EMS. This will be done by the Training Sergeant after new members have been trained in the field. The minimum number of trainings is one event standby crew and one duty crew (or two event standbys if members are unable to make it to a duty crew). 
	</p>

	<p>
		Once finished those two trainings, a new member will schedule a clearing session unless the FTO or trainer believes that that member is not yet ready for active duty in which case, the member will go through training until he or she can demonstrate to the trainer that he or she understands what he or she is doing. 
	</p>

	<p>
		A clearing session will consist of the new member walking the training sergeant through the processes and procedures of both types of crews to ensure that quality of care standards are met and that the new members will be able to be on a crew without needing an FTO or officer present.
	</p>
</div>


<%- include("../partials/footer") %>