<%- include("../partials/completeHeader") %>
<h1 class="text-center display-4">
	Becoming an EMT
</h1>
<div class="container border-left-0">
	<p>
		Non-EMTs interested in becoming an EMT should contact the executive board, so that they can help you with each step. To become an EMT, you must do the following steps in this order:
	</p>
	<ol>
		<li>Complete a healthcare provider CPR class (you should already have this if you are a member).
			<ul>
				<li>We will offer CPR classes intermittently throughout the academic year to those that need to be certified and recertified. Contact the executive board if you need to be certified before the EMT course.</li>
			</ul>
		</li>
		<li>Get the NJ EMT Training Fund.
			<ul>
				<li>Send an email to the SEMS E-Board or respond to any emails sent out regarding the training fund if you are interested in taking a class and have not received the Training Fund.</li>	
				<li>The Training Fund <em>only</em> covers the tuition of courses in NJ that accept the training fund as a form of payment. 
					<ul>
						<li>The fund will not cover courses that don't accept the fund or don't occur in NJ.</li>
						<li>The fund will not cover the cost of the textbook, any materials required by the course, or any other expenses you may incur to take the course. The textbook is about $250. Some courses may require you to buy a stethoscope and/or blood pressure cuff; some may even require a uniform.</li>
					</ul>
				</li>
				<li>The EMT Fund will be mostly blank, so you will need to fill it out with info about you and the course. You will have to make a NJ OEMS account and find a course that you want to take (Steps 3 and 4) before you can completely fill out the training fund. 
				<li><a href="/guide/training_fund">Click here to learn how to fill out the Training Fund.</a></li>
			</ul>
		</li>
		<li>Create an account with <a href="https://www.nremt.org/rwd/public/dashboard/create-account">nremt.org</a>
			<ul>
				<li>The NJ DOH now uses the NREMT exam to certify EMTs.</li>
			</ul>
		</li>
		<li>Create a <a href="https://njems.njlincs.net/acr/create_account.jsp">NJ OEMS account</a></li>
		<li>Research EMT Initial Courses in NJ and Register for a Class <a href="/guide/registering_for_course">(click here for a more detailed explanation)</a>
			<ul>
				<li>To register, you either have to apply on the organization's website or print out and mail an application.</li>
				<li>There are different types of courses:
					<ul>
						<li>The standard/traditional course is about nine weeks and meets a few days a week.</li>
						<li>A hybrid course has all the lectures online and all the tests and hands-on training in person. This tends to last about nine weeks as well and may meet as little as two days a week.</li>
						<li>An accelerated course meets at least 5 days a week, but only lasts about six weeks.</li>
					</ul>
				</li>
				<li>You have to make sure that the course accepts the training fund by either visiting their website or contacting the organization offering the course.</li>
				<li>More courses are added periodically, so keep checking back if you can't find any courses that work with you.</li>
				<li>You <strong>HAVE</strong> to register for the class in order to be in the class. You can't just show up. Please make sure you register however they tell you to (mail, online, etc).
</li>
			</ul>
		</li>
		<li>Successfully complete EMT course (can be anywhere from six weeks to three months or more)</li>
		<li>Create an account with <a href="https://wsr.pearsonvue.com/testtaker/profile/SignUp.htm?client=NREMT&conversationId=1862504">Pearson Vue</a> (the company administering the exam)</li>
		<li><a href="https://www.nremt.org/rwd/public/document/cognitive-schedule">Register</a> for the NREMT exam on Pearson Vue</li>
		<li>Successfully pass the NREMT exam</li>
		<li>NJ DOH will automatically generate a certification and mail it to you.</li>
	</ol>
	
	<p>
		Please note: some procedures or steps may change before we have time to update them. Please make sure that you are following what the NJ DOH wants you to do to become certified.
	</p>
</div>

<%- include("../partials/footer") %>