<%- include("../partials/completeHeader") %>
<h1 class="text-center display-4">
		Becoming an Active Member
</h1>
<div class="container border-left-0">
	<p>
		An active member is someone that has gone through training and has completed his or her clearing session. Active members are able to vote in elections and meetings and don't require the supervision of an officer or FTO while on duty. New members join the organization as probationary members and must be trained and cleared before they can become active members. 
	</p>
	<p>
		In order to begin training, all you have to do is sign up for an event or duty crew on the schedule and show up at the report time. The lieutenant should send you a reminder about the event a day or so beforehand. An officer or FTO will be at the event or duty crew to train you.
	</p>
	<p>
		Once you are trained twice and feel that you understand the procedure sufficiently, please contact the training sergeant to setup a time to be cleared as an active member. To be cleared as an active member, the training sergeant will have you walk-through the steps of an event and duty that you have been taught while on duty. 
	</p>
	<p>
		If you aren't sure whether you're an active member, go to your profile and look at "Membership Status". It will say "Training" until you've been cleared as an active member. 
	</p>
	
	<p>
		If you have any questions regarding this process, please notify the training sergeant or the e-board by emailing <a href="mailto:stocktonems-club@go.stockton.edu">stocktonems-club@go.stockton.edu</a>
	</p>
</div>


<%- include("../partials/footer") %>

