<%- include("../partials/completeHeader") %>
<h1 class="text-center display-4">
		Becoming a Crew Chief
</h1>
<div class="container border-left-0">
	<h2 class="text-center">
		Crew Chief Training
	</h2>

	<p>
		Crew chiefs are experienced members that are in charge of a crew in lieu of an officer. Members that desire to be crew chiefs must be certified EMTs that have enough experience on SEMS crews that they could run a crew by themselves from start to finish. These members will be thoroughly trained to be crew chiefs and must pass the crew chief clearing process. In order to begin your training as a crew chief, you should follow these steps:
	</p>

	<ul>
		<li class="mb-3">If the Training Sergeant isn't aware that you are interested in becoming a crew chief, send an email or text to the training sergeant to notify them of your interest.</li>
		<li class="mb-3">Once aware of your interest, the Training Sergeant will arrange for an officer or FTO to go through the crew chief training process with you</li>
		<li class="mb-3">After you've gone through the crew chief training, the training sergeant will schedule a time for the crew chief clearing. If you successfully complete the clearing, you will be promoted to the rank of crew chief. If you feel that you need more training before you go through the trianing, you are more than welcome to do another training session.</li>
	</ul>

	<hr class="my-4">

	<h2 class="text-center">
		Crew Chief Clearing
	</h2>

	<p>
		The process of clearing members to be crew chiefs is to make sure that crew chiefs know how to . This will be done by the Training Sergeant after new members have been trained in the field. The minimum number of trainings is one event standby crew and one duty crew (or two event standbys if members are unable to make it to a duty crew). 
	</p>

	<p>
		Once finished those two trainings, a new member will schedule a clearing session unless the FTO or trainer believes that that member is not yet ready for active duty in which case, the member will go through training until he or she can demonstrate to the trainer that he or she understands what he or she is doing. 
	</p>

	<p>
		A clearing session will consist of the new member walking the training sergeant through the processes and procedures of both types of crews to ensure that quality of care standards are met and that the new members will be able to be on a crew without needing an FTO or officer present.
	</p>

	<hr class="my-4">

	<h2 class="text-center ">
		Crew Chief Manual
	</h2>

	<p>
		The crew chief manual below <span><em style="color:gray">(Removed for public viewing)</em></span> will give you a guide for understanding what is expected of a crew chief:
	</p>

	<iframe class="w-80" src=""></iframe>
</div>


<%- include("../partials/footer") %>