<%- include("../partials/completeHeader") %>
<h1 class="text-center display-4">
	EMS Skills
</h1>

<div class="container border-left-0">
	<h4>
		Skills Refreshers
	</h4>
	<ul>
		<li>
			<a href="https://www.youtube.com/watch?v=o3UJMvU0Q0Y" target="_blank">Patient Assessment: Trauma</a>
			<ul>
				<li><a href="https://www.youtube.com/watch?v=vsvDUhqlfhs" target="_blank">Alternative</a></li>
			</ul>
		</li>
		<li><a href="https://www.youtube.com/watch?v=IX9aByAsQM4" target="_blank">Patient Assessment: Medical</a>
			<ul>
				<li><a href="https://www.youtube.com/watch?v=cwyJHy8zaE4" target="_blank">Alternative</a></li>
			</ul>
		</li>
		<li><a href="https://www.youtube.com/watch?v=0jQDtsSzANc" target="_blank">Bag-Valve Mask</a></li>
		<li><a href="https://www.youtube.com/watch?v=y5EhokkkSiY" target="_blank">CPR/AED</a></li>
		<li><a href="https://www.youtube.com/watch?v=5SctjzNET5o" target="_blank">Bleeding Control and Shock Management</a></li>
		<li><a href="https://www.youtube.com/watch?v=CrmIjPLBmTg" target="_blank">Vital Signs</a></li>
		<li><a href="https://www.youtube.com/watch?v=2z9UmLmYNEU" target="_blank">Oxygen Administration</a></li>
		<li><a href="https://www.youtube.com/watch?v=CQWQyFL_PTA" target="_blank">Childbirth</a></li>
		<li><a href="https://www.youtube.com/watch?v=egVNsQx9Gcs" target="_blank">Spinal Immobilization</a></li>
		<li><a href="https://www.youtube.com/watch?v=pg3XFyf6ow4" target="_blank">Long Bone Fracture</a></li>
		<li><a href="https://www.youtube.com/watch?v=gLTTCGKo07A" target="_blank">Cincinnati Stroke Scale</a></li>
		<li><a href="https://www.youtube.com/watch?v=PfdyB8qeYK8" target="_blank">Airway Management</a></li>
		<li><a href="https://www.youtube.com/watch?v=D8xxzo_HzWc" target="_blank">Scoop Stretcher</a></li>
		<li><a href="https://www.youtube.com/watch?v=B8tEbetWxbE" target="_blank">Glucose Administration</a></li>
		<li><a href="https://www.youtube.com/watch?v=ye9bWe8Cxw8" target="_blank">Nitroglycerine Administration</a></li>
		<li><a href="https://www.youtube.com/watch?v=xoC48bdAJ1o" target="_blank">Joint Immobilization</a></li>
		<li><a href="https://www.youtube.com/watch?v=6IWSO3CGStU" target="_blank">Cervical Collar Application</a></li>
	</ul>
	<hr class="p-1 bg-secondary">
	<h4>
		EMT Course Chapters
	</h4>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=3hjsGkfHECQ" target="_blank">Components of EMS Systems</a></li>
		<li>EMT Well-Being: <a href="https://www.youtube.com/watch?v=cfcDvRgePjs" target="_blank">Part 1</a> <a href="https://www.youtube.com/watch?v=5m7sMpJaLMk" target="_blank">Part 2</a></li>
		<li><a href="https://www.youtube.com/watch?v=TvfFS2XgUFU" target="_blank">Lifting and Moving</a></li>
		<li><a href="https://www.youtube.com/watch?v=O__2VY5VCuY" target="_blank">Ethics and Laws for Emergency Care</a></li>
		<li><a href="https://www.youtube.com/watch?v=9hDM9NMZQ2U" target="_blank">Medical Terminology</a></li>
		<li>Anatomy and Physiology <a href="https://www.youtube.com/watch?v=9zU5ortb9Jo" target="_blank">Part 1</a> <a href="https://www.youtube.com/watch?v=Zv54_n4zjGg" target="_blank">Part 2</a></li>
		<li><a href="https://www.youtube.com/watch?v=tUFp_0qEogQ" target="_blank">Communication and Documentation</a></li>
		<li><a href="https://www.youtube.com/watch?v=jn7dB9p7-H0" target="_blank">Pharmacology</a></li>
		<li><a href="https://www.youtube.com/watch?v=BFNTy8Shg_U" target="_blank">Scene Size-Up</a></li>
		<li><a href="https://www.youtube.com/watch?v=b5xFNwdMDGg" target="_blank">Primary Assessment</a></li>
		<li>Airway <a href="https://www.youtube.com/watch?v=1GeyENuQpE8" target="_blank">Part 1</a> <a href="https://www.youtube.com/watch?v=HA47vkGnSg4" target="_blank">Part 2</a></li>
		<li>Respiration and Ventilation <a href="https://www.youtube.com/watch?v=2wwyZjF8-Jk" target="_blank">Part 1</a> <a href="https://www.youtube.com/watch?v=lZeznjUjXXI" target="_blank">Part 2</a></li>
		<li><a href="https://www.youtube.com/watch?v=O14UI_9vjXA" target="_blank">Ventilation and Perfusion</a></li>
		<li><a href="https://www.youtube.com/watch?v=GJgYO9lInrM" target="_blank">Shock</a></li>
		<li><a href="https://www.youtube.com/watch?v=mmuvfOUOrWU" target="_blank">Vital Sign Monitoring</a></li>
		<li>Secondary Assessment <a href="https://www.youtube.com/watch?v=QAB14_B9GCw" target="_blank">Part 1</a> <a href="https://www.youtube.com/watch?v=IHrm7C3YEaE" target="_blank">Part 2</a></li>
		<li><a href="https://www.youtube.com/watch?v=xJ7WT-HbMZs" target="_blank">Respiratory Emergencies</a></li>
		<li>Cardiac Emergencies <a href="https://www.youtube.com/watch?v=nMnmqGtw3uU" target="_blank">Part 1</a> <a href="https://www.youtube.com/watch?v=bwOHeoOx1OA" target="_blank">Part 2</a></li>
		<li><a href="https://www.youtube.com/watch?v=1ylAFxEWPwA" target="_blank">Diabetes</a></li>
		<li><a href="https://www.youtube.com/watch?v=IXTSz-ZVqNs" target="_blank">Altered Mental Status</a></li>
		<li><a href="https://www.youtube.com/watch?v=9g-EWkYWoJw" target="_blank">Allergic Reaction</a></li>
		<li><a href="https://www.youtube.com/watch?v=s4bnRccNvwI" target="_blank">Abdominal Emergencies for the EMT</a></li>
		<li><a href="https://www.youtube.com/watch?v=PmXIyno7_ds" target="_blank">Behavioral Emergencies for the EMT</a></li>
		<li><a href="https://www.youtube.com/watch?v=PmXIyno7_ds" target="_blank">Bleeding and Shock</a></li>
		<li><a href="https://www.youtube.com/watch?v=Wi6rP44NVBg" target="_blank">Soft Tissue Injuries</a></li>
		<li><a href="https://www.youtube.com/watch?v=LUYm5PEYuNs" target="_blank">Muscle/skeletal Injuries</a></li>
		<li><a href="https://www.youtube.com/watch?v=JlDdHPnkrg4" target="_blank">Head, Neck and Spinal injuries</a></li>
		<li><a href="https://www.youtube.com/watch?v=uZ-ImkU08ew" target="_blank">Environmental Emergencies</a></li>
		<li><a href="https://www.youtube.com/watch?v=ORunhRp5SGg" target="_blank">Multisystem Trauma</a></li>
		<li>OBGYN <a href="https://www.youtube.com/watch?v=KYS4CGs0KaU" target="_blank">Part 1</a> <a href="https://www.youtube.com/watch?v=euVf-jiqXH4" target="_blank">Part 2</a></li>
		<li>Pediatric Emergencies <a href="https://www.youtube.com/watch?v=UkASVaX8Hx4" target="_blank">Part 1</a> <a href="https://www.youtube.com/watch?v=1M0IFr3sJmo" target="_blank">Part 2</a></li>
		<li><a href="https://www.youtube.com/watch?v=_wCJiLiHPu0" target="_blank">Special Needs Patients</a></li>
		<li><a href="https://www.youtube.com/watch?v=gyLciIy5lWA" target="_blank">Operations</a></li>
		<li><a href="https://www.youtube.com/watch?v=Tj7MHR8E4Bg" target="_blank">Vehicle Safe Extrication</a></li>
		<li><a href="https://www.youtube.com/watch?v=nl49Xr5dYjM" target="_blank">HAZMAT ICS</a></li>
	</ul>
</div>
	

<%- include("../partials/footer") %>
