<%- include("../partials/completeHeader") %>
<h1 class="text-center display-4">
		New Member FAQs
</h1>
<div class="container border-left-0">
	<p>
		The following are common questions we get from new members. If you have any helpful questions that you think we should add to the list, please let us know!
	</p>
	<div class="list-unstyled">
		<p class="font-weight-bold font-italic">
			My background check has cleared. Now what?
		</p>
		<p class="pl-5">
			Once your background check has cleared, you become a probationary member, and you can contact the supply sergeant to get your uniform. Once you have the uniform, you can start signing up for events and duty crews. Probationary members will be trained and supervised by an officer or FTO at every event or duty crew they staff. Once you have been trained at two events or one event and one duty crew, you will meet with the training sergeant to be cleared as an active member.
		</p>
		<p class="font-weight-bold font-italic">
			What is an active member? 
		</p>
		<p class="pl-5">
			An active member is a member that has been cleared by the training sergeant to know all procedures for staffing a crew. Active members are able to staff events without the supervision of an FTO or officer.
		</p>
		<p class="font-weight-bold font-italic">
			What is an event standby?
		</p>
		<p class="pl-5">
			An event standby is a type of crew during which members are stationed outside of an event that has a higher likelihood of injury. The crew also responds to calls on campus if there's no duty crew at that time.
		</p>
		<p class="font-weight-bold font-italic">
			What is a duty crew?
		</p>
		<p class="pl-5">
			A duty crew is a time during which members are stationed at the lodge or the TRLC to respond to calls on campus. 
		</p>
		<p class="font-weight-bold font-italic">
			How do I become an active member?
		</p>
		<p class="pl-5">
			To become an active member, you must be trained at two crews, which can be two duty crews, one duty crew and one event, or two events. After you are trained twice and believe that you understand what is expected of you as a member, you will contact the training sergeant to be cleared as an active member.
		</p>
		<p class="font-weight-bold font-italic">
			When and how do I get a uniform?
		</p>
		<p class="pl-5">
			Members receive a uniform as soon as possible after their background checks have cleared. The supply sergeant will work with all new members to make sure that their sizes are known. The supply sergeant will then distribute as many uniforms as possible and order more of what we don't have on hand. If we have to order a piece of the uniform for you, it may take some time for you to receive it. Please reach out to the supply sergeant with any further questions regarding uniform distribution.
		</p>
		<p class="font-weight-bold font-italic">
			Can I still volunteer if I don't have my uniform?
		</p>
		<p class="pl-5">
			Ideally, we want all members to have a uniform. In the event that you are still waiting for a uniform, you will be permitted to wear other similar clothing in stead of the uniform because it's more important that you get the experience.
		</p>
		<p class="font-weight-bold font-italic">
			Do I have to buy my uniform?
		</p>
		<p class="pl-5">
			No. The uniform is provided at no cost to you.
		</p>
	</div>
</div>

<%- include("../partials/footer") %>