<%- include("../partials/completeHeader") %>
<h1 class="text-center display-4">
		New Member Cheat Sheet
</h1>
<div class="container border-left-0">
	<p>
		The following is the New Member Cheat Sheet. This document was designed to condense down all the information that new members have to know into a short, three page document. Please look this over if you have any questions as a new member. Once you become an active member, it won't be as useful to you.
	</p>
	<iframe src="https://docs.google.com/document/d/e/2PACX-1vRRzRRsW3iK3MyvBLtd3RvxZ6mgQ7knLsEHILkYtNfUg7k7JOwHFXpOpWxVhSjdYi_7SaO3uYrtEBSc/pub?embedded=true"></iframe>
</div>


<%- include("../partials/footer") %>