<%- include("../partials/completeHeader") %>
<h1 class="text-center display-4">
		New Member Cheat Sheet
</h1>
<div class="container border-left-0">
	<p>
		The following is the New Member Cheat Sheet <span><em style="color:gray">(Removed for public viewing)</em></span>. This document was designed to condense down all the information that new members have to know into a short, three page document. Please look this over if you have any questions as a new member. Once you become an active member, it won't be as useful to you.
	</p>
	<iframe src="#"></iframe>
</div>


<%- include("../partials/footer") %>