<%- include("../partials/completeHeader") %>
<h1 class="text-center display-4">
	Registering for an EMT Course
</h1>
<div class="container border-left-0">
	<p>
		These are the steps you need to follow to register for a course
	</p>
	<ol>
		<li><a href="https://njems.njlincs.net/jsp/rlm/catalog.jsp?pgm_id=62&end_dayrng_id=365">Click here to open the NJ OEMS List of EMT Certification Courses webpage</a></li>
		<hr>
		<li>First, look at the County and research the Educational Site to see if you could feasibly take the class
		<div class="figure w-100">
			<img src="/img/register/results.png" class="w-100">
			<figcaption class="figure-caption text-center">This course takes place in East Brunswick in Middlesex county, for example. I live near that area, so I will look into this course.</figcaption>
		</div>
		</li>
		<hr>
		<li>Look at the Start Date and End Date to determine if you would be able to complete the course in its entirety while accounting for the academic year. 
			<ul>
				<li>Please note that some courses have an orientation meeting earlier than the start time. You'll have to research the class to determine if they have an orientation.</li>
			</ul>
			<div class="figure">
				<img src="/img/register/results.png" class="w-100">
				<figcaption class="figure-caption text-center">In this case, the start and end dates are during the summer for the most part, but I can still manage to attend all of the classes</figcaption>
			</div>
		</li>
		<hr>
		<li>Look at the Enrollment Type.
			<ul>
				<li>If it says "Open", there shouldn't be any issues with registering.</li>
				<li>If it says "Restricted", it could just mean that they have a specific website that you have to use to register for the class, but it could also mean that the course is only open to members of a specific program or squad. In this case, be sure to determine why it's restricted. Most courses will tell you why it's restricted, but in some cases they won't say anything, which means you have to go to their website to determine if you can register for the class on your own.</li>
			</ul>
			<div class="figure">
				<img src="/img/register/results.png" class="w-100">
				<figcaption class="figure-caption text-center">This course says restricted, but it explains that that's only because they require you to register on their website, so we're still good to go.</figcaption>
			</div>
		</li>
		<hr>
		<li>Click "More Information..." to find contact information for your desired course and how they want you to register.
			<ul>
				<li>Some courses won't list a website, so you will have to go another route to register.
					<ul>
						<li>You could use the email or phone number provided to get more information.</li>
						<li>You could search the course, the education organization, and/or the education site to find more information.</li>
					</ul>
				</li>
				<li>If the course provides you with no contact information (I haven't seen this happen before), you will have to search for the course online to find more information. If you can't find any information online, I would recommend that you just forget about that course. </li>
			</ul>
			<div class="figure text-center">
				<img src="/img/register/contacts.png" class="w-100">
				<figcaption class="figure-caption text-center w-40">This is what pops up when you click more information. It provides an email and website. If there wasn't a website, you could send an email to the provided email or call the provided phone number to get more info.</figcaption>
			</div>
		</li>
		<hr>
		<li>Determine if they accept the training fund.
			<ul>
				<li>If you are able to find their website, look through it to see if they mention anything about the Training Fund. 
					<ul>
						<li>If they don't accept the training fund, you'll have to find another course or pay for the course on your own.</li>
						<li>Community Colleges tend to be very difficult to determine if they accept the fund, so you will likely have to contact someone overseeing the course to make that determination.</li>
					</ul>
				</li>
			</ul>
			<div class="figure text-center">
				<img src="/img/register/classPage.png" class="w-100">
				<figcaption class="figure-caption text-center">After going to the website listed on the course in East Brunswick and navigating to the page about EMT Training, I found this information. The class does accept the Training Fund, but because the course in question starts before July 1st (which is before the date I'm writing this), they won't accept the fund for this particular course. I will have to start over and find a course that does accept it. </figcaption>
			</div>
		</li>
		<hr>
		<li> Once you've determined that you can pay for the course with the Training Fund, it's time to register for the course!
			<ul>
				<li>You will either have to register through an online form or by printing and filling out a paper form and mailing it to them. Complete the registration and turn in the training fund to them in the manner that they indicate. </li>
				<li>You will either turn the training fund in with the registration, or you will turn it in during the first meeting of the class. Pay attention to what they say about that as each class is different.</li>
			</ul>
		</li>
		<hr>
		<li>Attend the classes! Do well, study hard, and good luck!</li>
	</ol>
</div>

<%- include("../partials/footer") %>