<%- include("../partials/completeHeader") %>
<h1 class="text-center display-4">
	GTAS Ride-Alongs
</h1>

<div class="container border-left-0">
	<p>
		Galloway Township Ambulance Squad offers and encourages Stockton EMS members to ride along with their members in their ambulances. This is an opportunity for members to experience a higher call volume than is present on campus and to hone their skills to be more comfortable responding on campus. Members will work closely with GTAS members when responding for Stockton EMS, so it is an opportunity to build a working relationship with GTAS members.
	</p>
	<p>
		For members interested in signing up for a ride-along, please contact GTAS Lt. Stacey Rodenas at <a href="mailto:srodenas@gtas.org">srodenas@gtas.org</a>. 
	</p>
</div>

<%- include("../partials/footer") %>
