<%- include("../partials/completeHeader") %>
<h1 class="text-center display-4">
	Filling Out the EMT Training Fund
</h1>
<div class="container border-left-0">
	<p>
		The following is a breakdown of the parts of the EMT Training Fund that you will need to fill out. You have to use a PDF editor in order to fill this out because NJ wants it to be typed not handwritten
	</p>
	<ul class="list-unstyled">
		<li class="mb-3">
			<div class="figure w-100">
				<img src="/img/training_fund/name.png" class="w-100 border border-dark">
				<figcaption class="figure-caption text-center text-danger font-italic">This is obviously your name</figcaption>
			</div>
		</li>
		<li class="mb-3">
			<div class="figure w-100">
				<img src="/img/training_fund/idNum.png" class="w-100 border border-dark">
				<figcaption class="figure-caption text-center text-danger font-italic">This is your six digit account number you get after signing up for a NJ OEMS account in Step 3 of <a href="/guide/becoming_EMT">Becoming an EMT</a></figcaption>
			</div>
		</li>
		<li class="mb-3">
			<div class="figure w-100">
				<img src="/img/training_fund/address.png" class="w-100 border border-dark">
				<figcaption class="figure-caption text-danger text-center font-italic">This is your address, not the address of the training facility</figcaption>
			</div>
		</li>
		<li class="mb-3">
			<div class="figure w-100">
				<img src="/img/training_fund/sponsor.png" class="w-100 border border-dark">
				<figcaption class="figure-caption text-center text-danger font-italic">This is the company teaching the EMT course, not the place at which you are being trained. You may be trained at a rescue squad, but you would write down the company teaching the course at the rescue squad.</figcaption>
			</div>
		</li>
		<li class="mb-3">
			<div class="figure w-100">
				<img src="/img/training_fund/date.png" class="w-100 border border-dark">
				<figcaption class="figure-caption text-center text-danger font-italic">The start and end dates are listed on the <a href="https://njems.njlincs.net/jsp/rlm/catalog.jsp?pgm_id=62&end_dayrng_id=365">OEMS course list</a> where you find the classes and on the website you use to register for the course. Use the dates that the course tells you on their website or application.</figcaption>
			</div>
		</li>
		<li class="mb-3">
			<div class="figure w-100">
				<img src="/img/training_fund/title.png" class="w-100 border border-dark">
				<figcaption class="figure-caption text-center text-danger font-italic">The course title is also listed on the <a href="https://njems.njlincs.net/jsp/rlm/catalog.jsp?pgm_id=62&end_dayrng_id=365">OEMS course list</a></figcaption>
			</div>
		</li>
		<li class="mb-3">
			<div class="figure w-100">
				<img src="/img/training_fund/approvalNum.png" class="w-100 border border-dark">
				<figcaption class="figure-caption text-center text-danger font-italic">The course number is the six digit Class ID of the course you've registered for. Finding this may be more difficult because it is not on the course list. See the section below for details on finding it:</figcaption>
			</div>
		</li>
	</ul>
	<hr class="bg-danger p-1">

	<div>
		<h4>
		Finding the NJ Course Approval Number:
		</h4>
		<ul>
			<li class="mb-3 text-danger"> The easiest way to find it is if the course tells you the number. The course approval number will look like this:
				<div class="figure w-100 text-center">
					<img src="/img/training_fund/easyNum.jpg" class="w-100 border border-dark">
				</div>
			</li>
			<li class="mb-3 text-danger"> If the course doesn't list the course approval number, go to the <a href="https://njems.njlincs.net/jsp/rlm/catalog.jsp?pgm_id=62&end_dayrng_id=365">OEMS course list</a>, find your course, and click "More Information...". The course number will be listed in the address bar as shown here:
				<div class="figure w-100 text-center">
					<img src="/img/training_fund/hardNum.png" class="w-100 border border-dark">
					<figcaption class="figure-caption text-center text-danger font-italic">The course number is the six digit number underlined in red in the address bar. This is what you put on the NJ Course Approval Number Line</figcaption>
				</div>
			</li>
		</ul>
	</div>
</div>

<%- include("../partials/footer") %>