<%- include("../partials/completeHeader") %>
<h1 class="text-center display-4 spooky">
	Shift Graveyard
</h1>
<div class="container">
	<div class="text-center">
		<img src="/img/grave.gif">
	</div>
	<p>
		The following is our Shift Graveyard. This page is a single table with every single shift we have ever created. I highly recommend sorting or searching for what you're looking for.
	</p>
</div>
<hr>
	<div class="text-center">
	</div>
	<div class="container text-center">
		<table class="table table-hover table-sm table-responsive d-block" id="graveyardTable">
			<thead class="bg-primary text-white">
				<tr>
					<th scope="col-auto">Title</th>
					<th scope="col-auto">Status</th>
					<th scope="col-auto">Start Date</th>
					<th scope="col-auto">End Date</th>
					<th scope="col-auto">Report Time</th>
					<th scope="col-auto">Start Time</th>
					<th scope="col-auto">End Time</th>
					<th scope="col-auto">Duration</th>
					<th scope="col-auto">Shift Location</th>
					<th scope="col-auto">Mandatory</th>
					<th scope="col-auto">O.I.C.</th>
					<th scope="col-auto">C.C.</th>
					<th scope="col-auto">Crew</th>
				</tr>
			</thead>
			<tbody>
					<tr>
					
						<td scope="row"><a href="#"></a></td>
						<td scope="row" class="capitalize"></td>
						<td scope="row"></td>
						<td scope="row"></td>
						<td scope="row"></td>
						<td scope="row"></td>
						<td scope="row"></td>
						<td scope="row"></td>
						<td scope="row"></td>
						<td scope="row">
						</td>
						<td scope="row">
							
						</td>
						<td scope="row">
							
						</td>
						<td scope="row">
							
						</td>
					</tr>
				
			</tbody>
		</table>
	</div>
	<hr>
</div>


<%- include("../partials/footer") %>
