<%- include("../partials/completeHeader") %>

<h1 class="display-4 text-center">
	Create New Shift
</h1>
<%- include("../partials/alert") %>
<div class="container">
	<div class="mr-auto p-2" >
		<a href="/shift"><i class="fas fa-long-arrow-alt-left"></i> Go back to the schedule</a>
	</div>
	<p>
		Please use the form below to create a new shift. Shifts include events, duty crews, tabling events, meetings, general meetings, and trainings.
	</p>
	<form action="/shift/" method="POST">
		<h4 class="text-center">
			<u>General Information</u>
		</h4>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="startDate">Start Date</label>
				<input type="date" class="form-control" id="startDate" name="startDate" required>
			</div>
			<div class="form-group col-md-6">
				<label for="endDate">End Date</label>
				<input type="date" class="form-control" id="endDate" name="endDate" required>
			</div>
		</div>
		<div class="form-row align-items-end">
			<div class="form-group col-md-4">
				<label for="reportTime" aria-describedby="reportTimeHelp" class="mb-0 pb-0">Report Time</label>
				<small id="reportTimeHelp" class="form-text text-muted pt-0 mt-0">Generally 30 Minutes Before Start Time</small>
				<input type="time" class="form-control" id="reportTime" name="reportTime" required>
			</div>
			<div class="form-group col-md-4">
				<label for="startTime">Start Time</label>
				<input type="time" class="form-control" id="startTime" name="startTime" required>
			</div>
			<div class="form-group col-md-4">
				<label for="endTime">End Time</label>
				<input type="time" class="form-control" id="endTime" name="endTime" required>
			</div>
		</div>
		<div class="form-row align-items-end">
			<div class="form-group col-md-12 pb-0 mb-0">
				<label for="location" aria-describedby="shiftLocationHelp" class="mb-0 pb-0">Shift Location</label>
				<small id="shiftLocationHelp" class="form-text text-muted pt-0 mt-0">This is where the crew should station themselves or where the meeting/training will take place</small>
				<input type="text" class="form-control" id="shiftLocation" placeholder="Ex: CC Event Room" name="shiftLocation" required>
			</div>
		</div>
		<hr>
		<h4 class="text-center">
			<u>Select Shift Type:</u>
		</h4>
		<div class="text-center" required>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="shiftTypeSelectorRadios" id="es" value="es" >
				<label class="form-check-label" for="es">
					Event Standby
				</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="shiftTypeSelectorRadios" id="dc" value="dc">
				<label class="form-check-label" for="dc">
					Duty Crew
				</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="shiftTypeSelectorRadios" id="ta" value="ta">
				<label class="form-check-label" for="ta">
					Tabling
				</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="shiftTypeSelectorRadios" id="gm" value="gm">
				<label class="form-check-label" for="gm">
					General Meeting (Monthly Meeting for All Members)
				</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="shiftTypeSelectorRadios" id="m" value="m">
				<label class="form-check-label" for="m">
					Meeting (All Other Meetings)
				</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="shiftTypeSelectorRadios" id="tr" value="tr">
				<label class="form-check-label" for="tr">
					Training
				</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="shiftTypeSelectorRadios" id="sg" value="sg">
				<label class="form-check-label" for="sg">
					Social Gathering
				</label>
			</div>
		</div>
		<hr>
		<!-- ====================================================Event======================================================== -->
		<div id="eventStandbyDiv">
			<h4 class="text-center">
				<u>Event Standby Details:</u>
			</h4>
			<div class="form-row align-items-end">
				<div class="form-group col-md-5">
					<label for="eventName">Event Name</label>
					<input type="text" class="form-control" id="eventName" name="eventName" placeholder="Woodstockton">
				</div>
				<div class="form-group col-md-4">
					<label for="eventHost">Event Host</label>
					<input type="text" class="form-control" id="eventHost" name="eventHost" placeholder="SET">
				</div>
				<div class="form-group col-md-3">
					<label for="eventCrewMax" aria-describedby="eventCrewHelp" class="pb-0 mb-0">Crew Size Max:</label>
					<small id="eventCrewHelp" class="form-text text-muted pt-0 mt-0">Does not include crew chief/O.I.C.</small>
					<input type="number" class="form-control" id="eventCrewMax" placeholder="4 max for Impala" name="eventCrewMax">
				</div>
			</div>
			<div class="form-row align-items-end">
				<div class="form-group col-md-6">
					<label for="eventVehicle" id="eventVehicleHelp" class="mb-0 pb-0">Vehicle</label>
					<small id="eventVehicleHelp" class="form-text text-muted pt-0 mt-0">The lieutenant must reserve a vehicle if the Impala is not available</small>
					<input type="text" class="form-control" id="eventVehicle" placeholder="Ex: Impala" name="eventVehicle">
				</div>
				<div class="form-group col-md-6">
					<label for="eventReportLocation" aria-describedby="eventReportLocationHelp" class="mb-0 pb-0">Report Location</label>
					<small id="eventReportLocationHelp" class="form-text text-muted pt-0 mt-0">This is where the crew should meet before the shift/meeting (if applicable)</small>
					<input type="text" class="form-control" id="eventReportLocation" value="Stockton PD" name="eventReportLocation">
				</div>
			</div>
			<div class="form-group">
				<label for="eventNotes" aria-describedby="eventNotesHelp">Notes</label>
				<small id="eventNotesHelp" class="form-text text-muted pt-0 mt-0">Any relevant info that members should know about the event, what they should bring, what they should wear, and anything else you think you should include for the members' benefit.</small>
				<textarea class="form-control" id="eventNotes" rows="3" placeholder="Bring your homework because this is a long one. We'll be outside, so you'll need your jacket" name="eventNotes"></textarea>
			</div>
			<hr>
		</div>
		<!-- ====================================================Duty Crew======================================================== -->
		<div id="dutyCrewDiv">
			<h4 class="text-center">
				<u>Duty Crew Details:</u>
			</h4>
			<div class="form-row align-items-end">
				<div class="form-group col-md-5">
					<label for="dcReportLocation" aria-describedby="dcReportLocationHelp" class="mb-0 pb-0">Report Location</label>
					<small id="dcReportLocationHelp" class="form-text text-muted pt-0 mt-0">This is where the crew should meet before the shift (if applicable)</small>
					<input type="text" class="form-control" id="dcReportLocation" value="Stockton PD" name="dcReportLocation">
				</div>
				<div class="form-group col-md-3">
					<label for="dcCrewMax" aria-describedby="dcCrewHelp" class="pb-0 mb-0">Crew Size Max:</label>
					<small id="dcCrewHelp" class="form-text text-muted pt-0 mt-0">Does not include crew chief/O.I.C.</small>
					<input type="number" class="form-control" id="dcCrewMax" placeholder="4 max for Impala" name="dcCrewMax">
				</div>
				<div class="form-group col-md-4">
					<label for="dcVehicle" id="dcVehicleHelp" class="mb-0 pb-0">Vehicle</label>
					<small id="dcVehicleHelp" class="form-text text-muted pt-0 mt-0">If no vehicle needed, just put "N/A"</small>
					<input type="text" class="form-control" id="dcVehicle" placeholder="Ex: Impala" name="dcVehicle">
				</div>
			</div>
			<div class="form-group">
				<label for="dcNotes" aria-describedby="dcNotesHelp">Notes</label>
				<small id="dcNotesHelp" class="form-text text-muted pt-0 mt-0">Any relevant info that members should know about the duty crew, what they should bring, what they should wear, and anything else you think you should include for the members' benefit.</small>
				<textarea class="form-control" id="dcNotes" rows="3" placeholder="Bring your homework because this is a long one. We'll be outside, so you'll need your jacket" name="dcNotes"></textarea>
			</div>
			<hr>
		</div>
		<!-- ====================================================Tabling======================================================== -->
		<div id="tablingDiv">
			<h4 class="text-center" >
				<u>Tabling Details:</u>
			</h4>
			<div class="form-row align-items-end">
				<div class="form-group col-md-5">
					<label for="tablingName">Tabling Event Name</label>
					<input type="text" class="form-control" id="tablingName" name="tablingName" placeholder="Get Involved Fair">
				</div>
				<div class="form-group col-md-3">
					<label for="tablingCrewMax" aria-describedby="tablingCrewHelp" class="pb-0 mb-0">Crew Size Max:</label>
					<small id="tablingCrewHelp" class="form-text text-muted pt-0 mt-0">No crew chief required</small>
					<input type="number" class="form-control" id="tablingCrewMax" placeholder="5 max for Impala" name="tablingCrewMax">
				</div>
				<div class="form-group col-md-4">
					<label for="tablingReportLocation" aria-describedby="tablingReportLocationHelp" class="mb-0 pb-0">Report Location</label>
					<small id="tablingReportLocationHelp" class="form-text text-muted pt-0 mt-0">This is where the crew should meet before the tabling (put a dash (-) if not applicable)</small>
					<input type="text" class="form-control" id="tablingReportLocation" value="-" name="tablingReportLocation">
				</div>
			</div>
			<div class="form-group">
				<label for="tablingNotes" aria-describedby="tablingNotesHelp">Notes</label>
				<small id="tablingNotesHelp" class="form-text text-muted pt-0 mt-0">Any relevant info that members should know about the tabling, what they should bring, what they should wear, and anything else you think you should include for the members' benefit.</small>
				<textarea class="form-control" id="tablingNotes" rows="3" placeholder="Please wear your t-shirt and jeans or black pants..." name="tablingNotes"></textarea>
			</div>
			<hr>
		</div>
		<!-- ====================================================General Meeting======================================================== -->
		<div id="generalMeetingDiv" >
			<h4 class="text-center">
				<u>General Meeting Details:</u>
			</h4>
			<div class="form-row align-items-end">
				<div class="form-group col-md-12">
					<label for="genMeetingName">General Meeting Name</label>
					<input type="text" class="form-control" id="genMeetingName" name="genMeetingName" value="General Meeting 2/21">
				</div>
			</div>
			<div class="form-group">
				<label for="genMeetingNotes" aria-describedby="genMeetingNotesHelp">Notes</label>
				<small id="genMeetingNotesHelp" class="form-text text-muted pt-0 mt-0">Any relevant info that members should know about the meeting, what they should bring, what they should wear, and anything else you think you should include for the members' benefit.</small>
				<textarea class="form-control" id="genMeetingNotes" rows="3" placeholder="We'll be voting for next year's officers... We'll be training outside, so bring a jacket" name="genMeetingNotes"></textarea>
			</div>
			<hr>
		</div>
		<!-- ====================================================Meeting======================================================== -->
		<div id="meetingDiv">
			<h4 class="text-center">
				<u>Meeting Details:</u>
			</h4>
			<div class="form-row align-items-end mb-3">
				<div class="form-group col-md-12">
					<label for="meetingName">Meeting Name</label>
					<input type="text" class="form-control" id="meetingName" name="meetingName" placeholder="Crew Chief Meeting 11/05">
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" value="true" id="mMandatoryCheck" name="mMandatoryCheck">
					<label class="form-check-label" for="mMandatoryCheck">
						Check if Mandatory for All Members
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="meetingNotes" aria-describedby="meetingNotesHelp">Notes</label>
				<small id="meetingNotesHelp" class="form-text text-muted pt-0 mt-0">Any relevant info that attendees should know about the meeting, what they should bring, what they should wear, and anything else you think you should include for the members' benefit.</small>
				<textarea class="form-control" id="meetingNotes" rows="3" placeholder="Crew chiefs will be meeting with the executive board to discuss..." name="meetingNotes"></textarea>
			</div>
			<hr>
		</div>
		<!-- ====================================================Training======================================================== -->
		<div id="trainingDiv">
			<h4 class="text-center" >
				<u>Training Details:</u>
			</h4>
			<div class="form-row align-items-end mb-3">
				<div class="form-group col-md-12">
					<label for="trainingName">Training Name</label>
					<input type="text" class="form-control" id="trainingName" name="trainingName" placeholder="Member's Only CPR Class">
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" value="true" id="trMandatoryCheck" name="trMandatoryCheck">
					<label class="form-check-label" for="trMandatoryCheck">
						Check if Mandatory for All Members
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="trainingNotes" aria-describedby="trainingNotesHelp">Notes</label>
				<small id="trainingNotesHelp" class="form-text text-muted pt-0 mt-0">Any relevant info that members should know about the training, what they should bring, what they should wear, and anything else you think you should include for the members' benefit.</small>
				<textarea class="form-control" id="trainingNotes" rows="3" placeholder="Please wear street clothes as we'll just be learning CPR" name="trainingNotes"></textarea>
			</div>
			<hr>
		</div>
		<!-- ====================================================Social Gathering======================================================== -->
		<div id="socialGatheringDiv" >
			<h4 class="text-center">
				<u>Social Gathering Details:</u>
			</h4>
			<div class="form-row align-items-end">
				<div class="form-group col-md-12">
					<label for="socialGatheringName">Social Event Name</label>
					<input type="text" class="form-control" id="socialGatheringName" name="socialGatheringName" placeholder="Member Potluck">
				</div>
			</div>
			<div class="form-group">
				<label for="socialGatheringNotes" aria-describedby="socialGatheringNotesHelp">Notes</label>
				<small id="socialGatheringNotesHelp" class="form-text text-muted pt-0 mt-0">Any relevant info that members should know about the training, what they should bring, what they should wear, and anything else you think you should include for the members' benefit.</small>
				<textarea class="form-control" id="socialGatheringNotes" rows="3" placeholder="Please bring one food item..." name="socialGatheringNotes"></textarea>
			</div>
			<hr>
		</div>
		<div class="text-center">
			<button class="btn btn-large btn-success">
				Create New Shift
			</button>
		</div>	
	</form>
</div>

<%- include("../partials/footer") %>