<%- include("../partials/completeHeader") %>
<h1 class="text-center display-4">
		Member Manual
</h1>
<div class="container border-left-0">
	<p>
		Below is our Member Manual <span><em style="color:gray">(Removed for public viewing)</em></span>. You should have received a link to it in an email already, but it is here as well if you lose the link. This is an in-depth guide to everything you should know about being a member. Please also reference the SOPs and Bylaws for the complete picture.
	</p>
	
	<iframe src=""></iframe>
</div>


<%- include("../partials/footer") %>