<%- include("../partials/completeHeader") %>
<h1 class="text-center display-4">
		Onboarding Packet
</h1>
<div class="container border-left-0">
	<p>
		Below is our Onboarding Packet <span><em style="color:gray">(Removed for public viewing)</em></span>. You should have received a link to it in an email already, but it is here as well if you lose the link. This packet contains some information that you've already filled out and others that are new. Please fill it out completely. 
	</p>
	<p>
		You should be able to fill out the blanks below on this page. You can also print it out and fill it out with pen. Once it's completely filled out, please print it and sign your name in the places that need your signature. You'll need to attach a photocopy (or just a picture) of your driver's license (if you have one) and your CPR and EMT certifications if you have them. All of those copies should be printed along with the Onboarding Packet and stapled to the back.
	</p>
	<p>
		Once the packet is complete, you're going to drop it off and get fingerprinted. The packet needs to be handed to the dispatcher at the <a href="https://goo.gl/maps/BcQZvMgyVUMwn83b7">Stockton Police Department</a>. If you aren't sure where Stockton's Police Department is, click the hyperlink. The dispatcher is the person sitting behind the glass window as soon as you walk into the Police Department. You should have been told whether you need to get fingerprinted at the same time as when you drop off the packet. If so, you'll just get fingerprinted when you arrive to drop off the packet.
	</p>
	<p>
		Fingerprinting is a process that should take less than five minutes. An officer will bring you back into the Police Department. You'll place your hands on a digital fingerprint scanner (no ink on your fingers like the TV shows), and your fingerprints will be added to their database. This is required in order to be a member. The Police Department does this as a precautionary measure to help them rule out your fingerprints in crime scenes.
	</p>
	<iframe src="#"></iframe>
</div>
<p

<%- include("../partials/footer") %>

