<%- include("../partials/completeHeader") %>
<h1 class="text-center display-4">
		SOPs and Bylaws
</h1>
<div class="container border-left-0">
	<h4 class="text-center">
		Standard Operating Procedures
	</h4>
	<iframe src="https://docs.google.com/document/d/e/2PACX-1vQKjpluwtlavNlFVo060Tc5ogr-2yiIof2cLKoFG6c0oVsqO8Xjt1cFFPKa-oyZQGBjjzLOx41bqlm3/pub?embedded=true"></iframe>
	<hr>
	<h4 class="text-center">
		Organizational Bylaws
	</h4>
	<iframe src="https://docs.google.com/document/d/e/2PACX-1vRsIF-Ut2PgeGMmk0V4XBn0buJS5PikwC_ytNphq5xX8J40393kNQJAglRybn-5MT3zwhz1mpxk3cgl/pub?embedded=true"></iframe>
</div>


<%- include("../partials/footer") %>