<%- include("../partials/completeHeader") %>
<h1 class="text-center display-4">
		SOPs and Bylaws
</h1>
<div class="container border-left-0">
	<h4 class="text-center">
		Standard Operating Procedures <<span><em style="color:gray">(Removed for public viewing)</em></span>
	</h4>
	<iframe src="#"></iframe>
	<hr>
	<h4 class="text-center">
		Organizational Bylaws <<span><em style="color:gray">(Removed for public viewing)</em></span>
	</h4>
	<iframe src="#"></iframe>
</div>


<%- include("../partials/footer") %>